body {
  background-color: #4F90B2;
}


.title {

}

.room {
  background-color: #B29167;
  height: 50px;
  line-height: 50px;
  margin: 0 0 10px 0;
  border-radius: 10px 0 0 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.submission {
  background-color: #B29167;
  line-height: 50px;
  height: 50px;
  border-radius: 0 0 0 10px;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}


.friends-list {
  background-color: #A3DFFF;
  color: #A3DFFF;
  /*background-color: #B28751;
  color: #B28751;*/
  height: 620px;
  width: 40%;
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
  transition-property: width, color, background-color;
  transition-duration: 500ms;
  transition-timing-function: linear;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.friends-list:hover {
  background-color: #FFE2BD;
  color: black;
  width: 150%;
}

.friends {
  padding-left: 10px;
  position: relative;
}

.chat-window {
  background-color: #FFE2BD;
  height: 500px;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.username {
  cursor: pointer;
}

#add-room {

}

#room-name {

}

.form-control {
  width: 50%;
  display: inline-block;
}

.form-control#message {
  width: 92%;
}

.text-bold {
  font-weight: 900;
}
