body {
  background-color: #388BB2;
}

.title {

}

.room {
  background-color: #B28751;
  height: 50px;
  line-height: 50px;
  margin: 0 0 10px 0;
  border-radius: 10px 0 0 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.submission {
  background-color: #B28751;
  line-height: 50px;
  height: 50px;
  border-radius: 0 0 0 10px;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}


.friends {
  background-color: #84D7FF;
  color: #84D7FF;
  height: 620px;
  margin: 0 0 0 10px;
  width: 2%;
  border-radius: 0 10px 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
  transition-property: width, color;
  transition-duration: 1s;
  transition-timing-function: linear;
  overflow: hidden;
  white-space: nowrap;
}

.friends:hover {
  color: black;
  width: 20%;
}

.chat-window {
  background-color: #FFD39D;
  height: 500px;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.username {
  cursor: pointer;
}

#add-room {

}

#room-name {

}

.form-control {
  width: 50%;
  display: inline-block;
}

.form-control#message {
  width: 92%;
}
