@font-face {
  font-family: matrix;
  src: url(OCRAEXT.TTF);
}
body {
  background-color: #4F90B2;
}

ul {
  list-style-type: none;
  padding: 0;
}

#roomSelect {
  text-align: right;
}

.room {
  background-color: #B29167;
  height: 50px;
  line-height: 50px;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.submission {
  background-color: #B29167;
  line-height: 50px;
  height: 50px;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.friends-list, .rooms-list {
  background-color: #B29167;
  color: #B29167;
  height: 620px;
  width: 50%;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
  transition-property: width, color, background-color;
  transition-duration: 500ms;
  transition-timing-function: linear;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.friends-list {
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
}

.friends-list:hover {
  background-color: #FFE2BD;
  color: black;
  width: 180%;
}

.friends {
  padding-left: 10px;
  position: relative;
}

.rooms-list {
  padding-right: 10px;
  border-radius: 10px 0 0 10px;
  right: 10px;
}

.rooms-list:hover {
  background-color: #FFE2BD;
  color: black;
  width: 180%;
}

.rooms {
  padding-right: 10px;
  position: relative;
}
.rooms-list .text-center {
  margin-left: 10px;
}

.friends-list .text-center {
  margin-right: 10px;
}

.chat-window {
  /*background-color: #FFE2BD;*/
  font-family: matrix;
  background-color: #202224;
  color: green;
  height: 500px;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.username {
  cursor: pointer;
}

.form-control {
  width: 50%;
  display: inline-block;
}

.form-control#message {
  width: 92%;
}

.text-bold {
  font-weight: 900;
  color: #175394;
}

#roomSelect li {
  cursor: pointer;
}