@font-face {
  font-family: matrix;
  src: url(OCRAEXT.TTF);
}
body {
  background-color: #4F90B2;
  font-family: Monaco;
  transition: background-color 1s cubic-bezier(0.43, 1.45, 1, 1);
}

.text-blue {
  font-weight: 900;
  color: #175394;
}

.text-yellow {
  font-weight: 900;
  animation: changeYellow 500ms linear;
  animation-fill-mode: forwards;
}

.chat-message {
  display: none;
}

.text-green {
  font-weight: 900;
  animation: changeGreen 500ms linear;
  animation-fill-mode: forwards;
}

@keyframes changeYellow {
  from {
    color: #7F7F6B;
  }
  to {
    color: #B57C08;
  }
}

@keyframes changeGreen {
  from {
    color: #B57C08;
  }
  to {
    color: #7F7F6B;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.title {
  margin: 30px 0 30px 0;
  letter-spacing: 0px;
  transition-property: letter-spacing, margin-right, color;
  transition-duration: 800ms;
  transition-timing-function: cubic-bezier(0.43, 1.45, 1, 1);
}

.title:hover {
  color: #B57C08;
  letter-spacing: 100px;
  margin-right:-100px;
  border-radius: 10px;
}

.fade-title {
  animation: fadeBlack 1s cubic-bezier(0.43, 1.45, 1, 1);
  animation-fill-mode: forwards;
}

.fade-back {
  animation: fadeBack 1s cubic-bezier(0.43, 1.45, 1, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeBack {
  from {
    background-color: #202224;
  }
  to {
    background-color: #4F90B2;
  }
}

@keyframes fadeBlack {
  from {
    background-color: #4F90B2;
  }
  to {
    background-color: #202224;
  }
}

#roomSelect {
  text-align: right;
}

#roomSelect li {
}

.room {
  background-color: #7F7F6B;
  height: 50px;
  line-height: 50px;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.submission {
  background-color: #7F7F6B;
  line-height: 50px;
  height: 50px;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.friends-list, .rooms-list {
  background-color: #7F7F6B;
  color: #7F7F6B;
  height: 620px;
  width: 50%;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
  transition-property: width, color, background-color;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.43, 1.45, 1, 1);
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

.friends-list {
  padding-left: 10px;
  border-radius: 0 10px 10px 0;
}

.friends-list:hover {
  /*background-color: #FFE2BD;*/
  background-color: #202224;
  color: #175394;
  width: 180%;
}

.friends {
  padding-left: 10px;
  position: relative;
}

.rooms-list {
  padding-right: 10px;
  border-radius: 10px 0 0 10px;
  right: 10px;
}

.rooms-list:hover {
  /*background-color: #FFE2BD;*/
  background-color: #202224;
  /*color: black;*/
  color: green;
  width: 180%;
}

.rooms {
  padding-right: 10px;
  position: relative;
}
.rooms-list .text-center {
  margin-left: 10px;
}

.friends-list .text-center {
  margin-right: 10px;
}

.chat-window {
  font-family: matrix;
  background-color: #202224;
  color: green;
  height: 500px;
  overflow-y: scroll;
  margin: 0 0 10px 0;
  box-shadow: 10px 10px 100px 0px rgba(0,0,0,0.75);
}

.username {
  cursor: pointer;
}


.form-control {
  width: 50%;
  display: inline-block;
}

.form-control#message {
  width: 100%;
}

.send-container {
  padding: 0 10px 0 2px;
}
 
#send {
  width: 100%;
  padding: 6px 0;
}

#roomSelect li {
  cursor: pointer;
}